@media screen and (max-width: 480px) {
  .left-selection {
      order: -1;
      width: 100%;
  }
}

.collection-container {
  flex: auto;
  margin: 0 6vw auto;
  max-width: 60vw;
}

@media screen and (max-width: 480px) {
  .collection-container {
    margin: 0 2vw auto;
    max-width: 90vw;
  }

  .searchrow {
    flex-direction: column;
    gap: 10px;
  }

  .filter-box-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .containersample {
    flex-direction: column;
    align-items: flex-start;
  }

  .elementcol, .numbercol, .imgcol, .tablecol {
    width: 100%;
    padding: 5px 0;
  }

  .imgcol, .imgtablecol {
    width: 40px;
    height: 40px;
  }

  .searchinput {
    width: 100%;
  }
}

.column-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }
  
  .column {
    margin-bottom: 10px;
  }

  .containercol {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    position: relative;
    gap: 10px;
    display: flex;
    align-items: center;
  }
  
.containercol::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px; /* Высота линии */
    background-color: rgb(175, 175, 175); /* Цвет линии */
    bottom: 0; 
}

.containercol::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px; /* Высота линии */
  background-color: rgb(175, 175, 175); /* Цвет линии */
  top: 0; /* Линия снизу */
}


  .containersample{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px ;
    padding-bottom: 5px ;
    border-radius: 10px;
    position: relative;
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .containersample:hover{
    background-color: #D9D9D9;
  }

  .elementcol {
    flex: 1;
    width: 150px;
    padding-left: 8px;
    white-space: normal;
    font-family: 'Montserrat', Roboto, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  .tablecol {
    flex: 1;
    width: 158px;
    padding-left: 8px;
    white-space: normal;
    text-align: left;
    font-family: 'Montserrat', Roboto, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }
  
  .numbercol {
    width: 15px;
    padding-left: 2px;
    white-space: normal;

    font-family: 'Montserrat', Roboto, Helvetica, sans-serif;
    font-style: normal;
  }

  .imgcol {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }

  .imgtablecol {
    width: 60px;
    border-radius: 10px;
  }
  
header .elementcol {
  white-space: nowrap;
  }

.searchrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px;
  gap: 20px;
}

  .searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 10px;
  padding-left: 1%;

  width: 407px;
  height: 44px;

  background: #FFFFFF;
  background: color(display-p3 1.000 1.000 1.000);

  border-radius: 20px;
  
  font-family: 'Montserrat', Roboto, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.searchinput {
  display: flex;
  font-family: 'Montserrat', Roboto, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;

  border: 0;
  border-radius: 20px;

  width: -webkit-fill-available;
  height: -webkit-fill-available;
} 

.searchinput:focus {
  outline: none; 
}

.searchbar:focus-within {
  outline: 1.5px solid #5A5A5A; /* Измените цвет и стиль обводки по вашему усмотрению */
}

.filter-box-container {
  flex: auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

.filter-box{
    display: flex;
    border-radius: 10px;
    background: #f8f8f8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border: 0;
    padding: 10px;
    margin-left: 2%;
}

.filter-box:hover {
    background: #D9D9D9;
}

.filter-box:active {
    background: #f8f8f8;
}

.filter-box:focus{
    outline: 0;
    background: #D9D9D9;
}

.song--control-img:hover {
    background-color:
    #747474; /* Сильно затемняем при нажатии */
}

.song--control-img:active {
    background-color:
    #5A5A5A; /* Сильно затемняем при нажатии */
}

.option {
  background: #f8f8f8;
}

.song--control-img {
  border-radius: 5px;
  width: 24px;
  height: 24px;
}

.loader22 {
  display: flex;
  

  margin-top: 10px;
  width: 40px;
  height: 40px;

  border: 4px dashed #333;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}
