

@media screen and (max-width: 480px) {
    .left-selection {
        order: -1;
        width: 100%;
    }
}

.column-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }
  
  .column {
    margin-bottom: 10px;
  }

  .containercol {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    position: relative;
    gap: 10px;
    display: flex;
    align-items: center;
  }
  
.containercol::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px; /* Высота линии */
    background-color: rgb(175, 175, 175); /* Цвет линии */
}


    .containercol::after {
    bottom: 0; /* Линия снизу */
    }

  .containersample{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px ;
    padding-bottom: 5px ;
    border-radius: 10px;
    position: relative;
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .containersample:hover{
    background-color: #D9D9D9;
  }

  .elementcol {
    flex: 1;
    width: 150px;
    padding-left: 20px;
    white-space: normal;
    font-family: 'Montserrat', Roboto, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }

  .tablecol {
    flex: 1;
    width: 158px;
    padding-left: 8px;
    white-space: normal;
    text-align: left;
    font-family: 'Montserrat', Roboto, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }
  
  .numbercol {
    width: 15px;
    padding-left: 2px;
    white-space: normal;

    font-family: 'Montserrat', Roboto, Helvetica, sans-serif;
    font-style: normal;
  }

  .imgcol {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }

  .imgtablecol {
    width: 60px;
    border-radius: 10px;
  }
  
  header .elementcol {
    white-space: nowrap;
  }

  .searchrow{
    /* Frame 168 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 0px;
    gap: 20px;

    width: 1112px;
    height: 84px;
    left: 464px;
    top: 179px;

    /* Color/Accent/Black/100 */
    border-bottom: 1px solid #D9D9D9;
    border-bottom: 1px solid color(display-p3 0.851 0.851 0.851);

  }

  .searchbar{
        /* Searchbar sample */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 407px;
    height: 44px;

    /* Color/Base/White */
    background: #FFFFFF;
    background: color(display-p3 1.000 1.000 1.000);
    border-radius: 20px;
    resize: none; /* Отключаем возможность изменения размера */
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Montserrat', Roboto, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
  }

.searchinput {
    display: flex;
    outline: none; 
    font-family: 'Montserrat', Roboto, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;

    background: #FFFFFF;
    background: color(display-p3 1.000 1.000 1.000);
    border: 0;

    width: 407px;
    height: 44px;
} 

.searchinput:focus {
    outline: none; /* Убираем обводку при фокусировке */
}

.filter-box{
        /* Frame 68 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;

    background: #f8f8f8;

    width: 151px;
    height: 44px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    /* Color/Base/Black */
    color: #1A1A1A;
    color: color(display-p3 0.102 0.102 0.102);

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

    border: 0;

}

.filter-box:focus{
    outline: 0;
}

.filter-box:hover{
    background: #D9D9D9;
}

.song--control-img:hover {
    background-color:
    #838383; /* Слегка затемняем при наведении */
}

.song--control-img:active {
    background-color:
    #5A5A5A; /* Сильно затемняем при нажатии */
}
