.sounds-block_box {
    margin-top: 10px;
    flex: 1;
    flex-shrink : 1;
}

.sounds-1 {
    margin-top: 15px;
    gap: 5px;
    width: 30vw;
    display: flex;
    /* overflow: auto; */
    min-height: 50vh;
    align-items: center;
    flex-direction: column;
}

.sound-properties-container {
    margin-top: 15px;
    gap: 5px;
    width: 30vw;
    display: flex;
    padding-left: 120px;
    /* overflow: auto; */
    min-height: 50vh;
    align-items: center;
    flex-direction: column;
}


.sounds-properties {
    border-top: 1px solid #D9D9D9;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 69px;

    position: absolute;
    width: 1112px;
    height: 8px;
    left: 464px;
    top: 263px;

    color: #989898;
    color: color(display-p3 0.596 0.596 0.596);
}

.sounds-properties2 {
    /*border-top: 1px solid #D9D9D9;*/

    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    padding: 15px;
    gap: 69px;

    position: absolute;
    width: 1112px;
    height: 222px;
    left: 464px;
    top: 263px;

    /*color: #989898;*/
    /*color: color(display-p3 0.596 0.596 0.596);*/
}

.sounds-items {
    border-top: 1px solid #D9D9D9;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    padding-top: 55px;
    gap: 69px;

    position: absolute;
    width: 1112px;
    height: 8px;
    left: 464px;
    top: 263px;

    color: #989898;
    color: color(display-p3 0.596 0.596 0.596);
}

.name-properties {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 98px;
    height: 38px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.name-properties-label {
    width: 78px;
    height: 18px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.custom-file-input {
    display: flex;
    margin: 5px 10px;
    border-radius: 10px;
    padding: 10px;
    height: 60px;
    width: 250px;
    text-align: left;
    align-items: center;
    justify-content: left;
}

.custom-file-input:hover {
    background: linear-gradient(#5d5d64, #3e3e40);
}

.upload_button {
    width: 34px;
    height: 34px;
    display: flex;
    border-radius: 10px;
    padding: 5px;
    background-color: #6e6e6e
}


.img {
    width: 34px;
    height: 34px;
    display: flex;
    border-radius: 10px;
    padding: 5px;
    background-color: #6e6e6e
}

.txt {

    /* Auto layout */
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    /* width: 70 px; */
    height: 18px;

    font-family: 'Montserrat' -apple-system, Roboto, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
    color: color(display-p3 1.000 1.000 1.000);


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

@media screen and (max-width: 480px) {
    .left-selection {
        order: -1;
        width: 100%;
    }
}
