.cardkit-container {
  margin-top: 15px;
  gap: 5px;
  width: 30vw;
  display: flex;
  /* overflow: auto; */
  min-height: 50vh;
  align-items: center;
  flex-direction: column;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader22 {
  margin-top: 10px;
  width: 40px;
  height: 40px;

  border: 4px dashed #333;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}
