.main-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.container-new{
    justify-content: center;
    margin: 5px;

}

.text-new{
    padding: 5px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.88px;
    text-align: left;

}

.trend-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Создаем две равные колонки */
     }
  
  .trend-block_box {
    margin-top: 10px;
  }

@media screen and (max-width: 480px) {
    .mainpage {
        flex-direction: column;
    }

    .new-block{
        text-align: center;
    }

    .large-image {
        min-width: 40vw;
        max-width: 40vw;
        min-height: 40vw;
        max-height: 40vw;
    }

    .small-image {
        width: 20vw;
        height: 20vw;
    }

    .left-selection {
        order: -1;
        width: 100%;
    }
}

.container-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: left;
    padding: 5px;

}

.cards {
    display: flex;
    padding: 10px 0 10px 0px;
    gap: 26px;
  }
  
  .kirkorov {
    border-radius: 25px;
    max-width: 30vw;
    max-height: 36vh;
    filter: brightness(1); /* По умолчанию картинка не затемнена */
    transition: filter 0.2s;
  }

.text-class {
    display: flex;
    color: #ffffff; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;

    padding: 10px;

}

  .kirkorov:hover {
    filter: brightness(0.7); 
}


.right-selection { 
    margin: 0 6vw auto;
    max-width: 60vw;
}