.main-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.container-new{
    justify-content: center;
    margin: 5px;

}

.text-new{
    padding: 5px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.88px;
    text-align: left;

}

.trend-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Создаем две равные колонки */
     }
  
  .trend-block_box {
    margin-top: 10px;
  }

@media screen and (max-width: 480px) {
    .mainpage {
        flex-direction: column;
    }

    .new-block{
        text-align: center;
    }

    .large-image {
        min-width: 40vw;
        max-width: 40vw;
        min-height: 40vw;
        max-height: 40vw;
    }

    .small-image {
        width: 20vw;
        height: 20vw;
    }

    .left-selection {
        order: -1;
        width: 100%;
    }
}

.container-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: left;
    padding: 5px;

}

.cards {
    display: flex;
    padding: 10px;
    gap: 26px;
  }
  
  .kirkorov {
    padding: 10px;
    border-radius: 25px;
    
    width: 70%;
    height: 40vh;
    
    background: #f02222;
  }

.text-class {
    display: flex;
    color: #ffffff; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;

    padding: 10px;

}

.nekirkorov {
    padding: 10px;
    border-radius: 25px;
    
    background: color(display-p3 0.57 0.57 0.57);
}

  .kirkorov:hover {
    background: #c51b1b; 
}

.nekirkorov:hover {
    
    background: #636363;
}

