.left-selection {
    padding-top: 10px;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 15vw;
}

.left-selection_button{
    display: flex;
    margin: 0px 15px;
    border-radius:10px;
    padding: 10px;
    height: 80px;
    
    text-align: left;
    align-items: center;
    justify-content: left;
}

.left-selection_button:hover {
    background: #478DF7;
  }
  


.left-selection_button_img{
    width: 34px;
    height: 34px;
    display: flex;
    border-radius: 10px;
    padding: 5px;
    background-color: #C8DDFD
}

.left-selection_button:hover .left-selection_button_img{
    background: #EDF4FF;
}

.left-selection_txt {

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: #1A1A1A;
    margin: 10px;
    
    }

@media screen and (max-width: 480px) {
    .left-selection {
        order: -1;
        width: 100%;
    }
}