.song-container {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px ;
    padding-bottom: 5px ;
    border-radius: 10px;
    position: relative;
    gap: 10px;
    display: flex;
    align-items: center;
  }

.song-container:hover {
  background-color: #D9D9D9;
}

  .song-info {
    gap: 5px;
    width: 30vw;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .song-number {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .song-number-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: left;

  }
  
  .song-image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
  
  .song-details {
    padding-left: 10px;
    flex-grow: 1;
  }
  
  .song-title {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    text-align: left;

  }
  
  .song-description {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color:  #989898;
    ;

  }
  
  .song-control-img {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }

  .song-image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }